body {
    background-image: url("../images/img-background.jpg");
    margin: 30px;
    color: #008060;
    overflow-x: hidden;
}
p {
    line-height: 1.3;
}
hr {
    background-color: #d699af;
    border: #d699af;
    height: 2px;
}
#header {
    overflow: hidden;
}
.sixty {
    display: inline-block;
    width: 60%;
    box-sizing: border-box;
    padding: 10px;
    float: left;
}
.half {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    float: left;
}
.third {
    display: inline-block;
    width: calc(100% / 3);
    box-sizing: border-box;
    padding: 10px;
    float: left;
}
.fourth {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
    float: left;
}
.fifth {
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
    padding: 10px;
    float: left;
}
.flex-container-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    align-content: space-between;
}
#social img {
    display: inline-block;
    width: 22%;
}
#social h4 {
    font-size: 1.5vw;
    margin: 5px 0 5px 0;
    font-weight: normal;
}
#social h4 span {
    font-weight: bold;
    cursor: pointer;
    color: gold;
    padding: 4px;
    background-color: #ff0066;
    border-radius: 10px;

}
#social h4 span:hover {
    color: silver;
}
#social h3 {
    font-size: 2vw;
    margin: 0;
}
#social a {
    text-decoration: none;
}
#title h1 {
    text-align: center;
    color: #ff0066;
    font-family: 'Great Vibes', Gadget, sans-serif;
    font-size: 7vw;
    font-weight: normal;
    margin: .5em 0 0 0;
    padding: 0;
    line-height: 8vw;
}
#title h2 {
    color: #ff0066;
    font-family: 'Great Vibes', Gadget, sans-serif;
    font-size: 4.6vw;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0;
}
#owner {
    text-align: right;
}
#owner p {
    line-height: 125%;
    font-size: 1.4vw;
}
#owner img {
    width: 35%;
}
#services-tabs-container {
    width: 75%;
    margin: auto;
    line-height: 1.5vw;
    flex-flow: row nowrap;
}
.service-tab {
    flex: 0 1 auto;
    margin: auto;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
.service-text {
    font-size: 1.5vw;
}
.service-text:hover {
    font-size: 1.6vw;
}
.services-fees-container {
    height: 100%;
    width: 60%;
    margin: auto;
    text-align: center;
}
.service, .fee {
    margin-left: 20px;
    width: 40%;
    display: inline-block;
    text-align: center;
    font-size: 1.2vw;
}
.service {
    font-weight: bold;
}
.fee {
    padding-bottom: 10px;
}
.hidden {
    display: none;
}
.content {
    overflow: visible;
    width: 60%;
    margin: auto;
}
#content-img {
    border-radius: 10px;
    overflow-x: hidden;
}
#content-img img {
    position: relative;
    width: 100%;
}
#footer {
    background-color: pink;
    width: 100%;
    height: 5vw;
}
.footer-link {
    text-align: center;
    flex: 0 1 auto;
    width: 100px;
    margin: auto;
    cursor: pointer;
    font-size: 1.5vw;
}
.footer-link:hover {
    font-size: 1.55vw;
}
.gallery-photo {
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: auto;
    cursor: pointer;
}
.gallery-photo:hover {
    box-shadow: 2px 2px 2px 2px;
}
.gallery-photo img {
    width: 100%;
}
#modal-photo-view {
    width: 100%;
}
.large-image {
    width: 100%;
    box-sizing: border-box;
    padding: 5%;
}
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 100vmin;
    position: relative;
    margin: 0 auto;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 5%;
    text-align: center;
    top: 5%;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }

.deal-post {
    margin: auto;
    width: 300px;
    text-align: center;
}
#content-deals img {
    width: 100%;
}